<div class="container-fluid">

    <div class="row">
        <div class="col-12 header">
            <h2>Product Engineering</h2>
            <div class="underline"></div>
            <p>Powered by Domain Expertise</p>
        </div>
    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/pe1.JPG" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Mechanical Engineering</h4>

            <p>
                From concept development to product design
                and prototyping, our mechanical engineering
                services cover the entire product lifecycle. We
                specialize in precision engineering, CAD
                modeling, and finite element analysis to deliver
                robust and cost-effective solutions.
                <br>
                With a team of skilled engineers and cuttingedge technology, we deliver high-quality
                solutions for product design, development,
                testing, and optimization. Our services are
                tailored to meet the specific needs of our clients,
                ensuring cost-effective, efficient, and reliable
                results.
            </p>

        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Embedded Engineering</h4>

            <p>
                We specialize in providing embedded engineering services
                that drive innovation and enhance performance across
                industries. Our team of experienced engineers is dedicated
                to delivering custom, high-quality solutions that seamlessly
                integrate hardware and software to create robust embedded
                systems.
                <br>
                With a focus on precision and reliability, we provide end-toend support for product development, from
                initial design
                through to deployment and maintenance.
                <br>
                Whether you're looking to develop a new embedded system
                or optimize an existing one, we have the expertise to bring
                your vision to life
            </p>

        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/pe2.JPG" alt="" srcset="">
        </div>

    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/pe3.JPG" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Manufacturing Engineering</h4>

            <p>
                We assist with transitioning designs into
                production by offering manufacturing support
                services, process optimization, and material
                selection. Our goal is to ensure that the final
                product is cost-effective, easy to manufacture,
                and meets the highest quality standards.
            </p>

            <ul>
                <li>Design for Manufacturability (DFM)</li>
                <li>Material Selection & Analysis</li>
                <li>Assembly Process Design</li>
                <li>Manufacturing Process Optimization</li>
            </ul>
        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Technical Publication</h4>

            <p>
                We specialize in delivering high-quality technical publication
                services tailored to meet the unique needs of engineering
                companies. <br>
                With our team of experienced technical writers and
                engineers, we provide comprehensive solutions for creating
                accurate, clear, and user-friendly technical documentation
                for products, systems, and processes. <br>
                From user manuals and installation guides to maintenance
                procedures and safety documentation, we ensure your
                technical content is precise, compliant, and easy to
                understand for your target audience.


            </p>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/pe4.JPG" alt="" srcset="">
        </div>

    </div>

    <div class="row">
        <div class="col-12 letstalk">
            <p>Have a project in mind? Schedule a free consultation today.</p>
            <a (click)="route_to_page('contact')" class="ctnus">Let's Connect</a>
          </div>
    </div>
</div>