<div class="container-fluid">

    <div class="row">
        <div class="col-12 header" >
            <h2>Digital Engineering</h2>
            <div class="underline"></div>
            <p>Empowering Businesses to Innovate
                Smarter and Faster
            </p>
        </div>
    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/de1.JPG" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4 style="border: none;">Data Engineering</h4>
            <div style="display: flex; justify-content: center;">
                <div class="underline"></div>
            </div>
            <p>
                We specialize in delivering high-performance Data
                Engineering Services that enable businesses to unlock the
                full potential of their data. Whether you're looking to
                streamline your data pipelines, optimize your data
                architecture, or integrate advanced analytics solutions, our
                team of experienced engineers is here to help you
                transform raw data into actionable insights.
                <br>
                We work with businesses of all sizes across industries,
                helping them build scalable, reliable, and efficient data
                systems that fuel informed decision-making and business
                growth.
            </p>
        </div>
    </div>

    <div class="row sub_topics ">

        <div class="col-md-6 content_part">
            <h4>Machine Learning & AI
            </h4>

            <p>
                Our team have an expertise in developing cutting-edge
                Machine Learning (ML) and Artificial Intelligence (AI)
                solutions that drive innovation and deliver tangible business
                outcomes.
                <br>
                By leveraging the latest advancements in AI, we help
                businesses automate processes, optimize decision-making,
                and unlock the potential of their data.
                <br>
                Our team of data scientists and AI engineers is committed to
                providing tailored solutions that meet your specific business
                needs—whether it’s through predictive analytics, natural
                language processing, computer vision, or AI-driven
                automation.
            </p>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/de2.JPG" alt="" srcset="">
        </div>

    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/de3.JPG" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Cloud Services</h4>

            <p>
                We specialize in providing Cloud Services for Engineering
                that empower organizations to streamline operations,
                accelerate product development, and unlock the full
                potential of their data and infrastructure.
                <br>
                With our cutting-edge cloud solutions, engineering teams
                can collaborate more effectively, scale effortlessly, and
                innovate faster.
                <br>
                From cloud-based design and simulation tools to seamless
                data storage and high-performance computing, we help
                engineering businesses adopt the cloud in a way that fits
                their unique needs and goals.
            </p>
        </div>
    </div>

    <div class="row sub_topics ">

        <div class="col-md-6 content_part">
            <h4>Augmented Reality</h4>

            <p>
                We specialize in developing Augmented Reality (AR)
                solutions that bridge the gap between the physical and
                digital worlds. Our innovative AR services transform how
                businesses engage with customers, enhance training,
                optimize operations, and bring new ideas to life.
                <br>
                From interactive product displays and immersive marketing
                campaigns to advanced training modules and real-time data
                visualization, our AR solutions are designed to deliver
                engaging, real-world experiences that drive business
                growth.
            </p>
            <ul>
                <li>AR based Training & Simulation</li>
                <li>AR for Marketing & Customer Engagement</li>
                <li>Remote Assistance & Support</li>
                <li>Custom AR Application Development</li>
            </ul>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/de4.JPG" alt="" srcset="">
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="letstalk p-2  px-md-3">
                <div class="row">
                    <div class="col-md-12" style="display: flex; align-items: center; justify-content: space-between;">
                        <p>Have a project in mind? Schedule a free consultation today.</p>
                        <a (click)="route_to_page('contact')" class="ctnus">LET'S TALK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>