* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../assets/Images/Digital Engineering.webp");

    .underline {
        width: 25%;
    }
}

.sub_topics {
    padding: 30px 0;

    .img {
        
        display: flex;
        justify-content: center;
        img {
            width: 90%;
            height: 320px;
            filter: drop-shadow(2px 2px 2px black);
        }
    }

    .content_part {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .underline {
            width: 45%;
            border-bottom: 4px solid #004AAD;
        }

        h4 {
            text-align: center;
            border-bottom: 4px solid #004AAD;
            color: #004AAD;
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 1.3em;
        }

        p {
            padding-left: 10px;
            padding-top: 20px;
            font-size: 0.85em;
            font-weight: 500;
        }

        ul {
            padding-top: 3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;

            li {
                padding: 6px 0pc;
                list-style: disc;
                font-size: 0.8em;
                font-weight: 600;
                line-height: 10px;
            }
        }
    }
}


@media (max-width: 1200px) {
    .sub_topics {

        .img {
            img {
                height: 380px;
            }
        }

        .content_part {


            h4 {
                font-size: 1.2em;
            }

            p {
                padding-left: 0px;
                text-align: center;
                font-size: 0.7em;
                font-weight: 700;
            }

            ul {
                padding-left: 20px !important;

                li {
                    font-size: 0.65em !important;
                    font-weight: 500 !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .header {
        padding-left: 10px !important;

        h1 {
            width: 98%;
            font-size: 2.1em;
            font-weight: 600;
        }
    }

    .sub_topics_re {
        display: flex;
        flex-direction: column-reverse;
        border-bottom: 3px solid #272727;
    }

    .sub_topics {
        border-bottom: 3px solid #272727;
        .img {
            img {
                height: 250px !important;
            }
        }
        .content_part {
            justify-content: flex-start;

            p {
                font-size: 0.8em;
                font-weight: 600;
            }

            ul {
                padding-left: 40px !important;

                li {
                    font-size: 0.8em !important;
                    font-weight: 500 !important;
                }
            }
        }
    }

}