* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url("../../../assets/Images/careerDemo.JPG");
    .underline{
        width: 28%;
    }
}

.whyuscont {
    padding: 30px 0;
    background: url("../../../assets/Images/page_home.png");
    display: flex;
    justify-content: center;
    p {
        font-weight: 600;
        margin-top: 16px;
        font-size: 0.95em;
        text-align: center;
        color: #ffffff;
        width: 60%;
        padding-bottom: 20px;
    }
    h2 {
        
        text-align: center;
        font-weight: 600;
        font-size: 2.2em;
        color: #ffffff;
    }
}

.whyus2 {
    justify-content: space-around;
    padding: 10px 0;
    
    .squarecontent {
        margin-top: 20px;
        position: relative;
        background: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        h4 {
            text-align: center;
            border-bottom: 1px solid;
            padding-top: 0.3em;
            font-weight: 500;
            font-size: 1.3em;
            line-height: 34px;
            color: #3d87eb;
        }

        p {
            font-weight: 600;
            margin-top: 16px;
            font-size: 0.85em;
            text-align: center;
            color: #000000;
            width: 100%;
        }
    }

    // .corner-element {
    //     border-radius: 3px;
    //     width: 62px;
    //     height: 62px;
    //     background: #000000;
    //     position: absolute;
    //     top: -25px;
    //     left: -25px;
    //     z-index: 1;
    // }
}

.part4 {
    border-top: 1px solid rgb(212, 212, 212);

    .quality_product_div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        h4{
            font-size: 1.2em;
            text-align: left;
            color: #003b88;
        }

        .myunderline {
            border: 1px solid #003b88;
            width: 45%;
            margin-top: 10px;
        }

        p{
            margin-top: 20px;
            font-weight: 500;
            width: 70%;
            text-align: center;
            font-size: 14px;
        }

    }

    .formside{
        box-shadow: 0px 0px 10px 10px #00000040;
        
        padding: 20px;
        .error{
            color: red;
            font-size: 14px;
            font-weight: 600;
        }

        .input_field{
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label{
                font-size: 14px;
                font-weight: 600;
                color: #000000;
            }

            input{
                border: none;
                margin-top: 5px;
                border-bottom: 1px solid #0000001A;
            }

            textarea{
                margin-top: 5px;
                border: 1px solid #0000001A;
            }

           
        }

        button {
            background-color: #004AAD;
            color: white;
            text-decoration: none;
            padding: 8px;
            margin-top: 20px;
            border: none;
            font-weight: 500;

            &:hover{
                background-color: #003b88;
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 767px) {

    .startcoversation p {
        font-family: 'Inter';
        font-size: 2.5vmax;
    }

    .addimg {
        display: flex;
        flex-direction: column-reverse;
    }

    .loca2 p {
        margin-top: 3px;
        margin-left: 0.7vw;
        color: #003b88;
        font-size: 5vmin;
    }

   

}