* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(85, 84, 84, 0.233), rgba(255, 255, 255, 0)),url("../../../assets/Images/Careers copy.jpg");
    .underline{
        width: 410px;
    }

    p{
        margin: 0;
        color: white;
    }
}

p {
    font-weight: 500;
    margin-top: 16px;
    font-size: 1.35em;
    text-align: center;
    color: #000000;
    width: 90%;
    text-align: justify;
    padding-bottom: 20px;
}

.whyuscont {
    padding: 30px 0;
    background: url("../../../assets/Images/page_home.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    h2 {
        
        text-align: center;
        font-weight: 600;
        font-size: 2.2em;
        color: #ffffff;
    }
}

.whyus2 {
    justify-content: space-around;
    padding: 30px 0;
    
    .squarecontent {
        margin-top: 50px;
        padding: 20px;
        position: relative;
        background: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        h4 {
            text-align: center;
            // border-bottom: 1px solid;
            padding-top: 0.3em;
            font-weight: 600;
            font-size: 1.3em;
            line-height: 34px;
            color: #022175ee;
        }

        p {
            font-weight: 500;
            margin-top: 16px;
            font-size: 1em;
            // padding: 0 30px !important;
            color: #000000;
            width: 100%;
            text-align: justify;
        }
    }

    // .corner-element {
    //     border-radius: 3px;
    //     width: 62px;
    //     height: 62px;
    //     background: #000000;
    //     position: absolute;
    //     top: -25px;
    //     left: -25px;
    //     z-index: 1;
    // }
}

.part4 {
    border-top: 1px solid rgb(212, 212, 212);
    background-color: #00193a;
    margin-bottom: 100px;
    .quality_product_div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        h4{
            font-size: 1.2em;
            text-align: left;
            color: #ffffff;
        }

        .myunderline {
            border: 1px solid #ffffff;
            width: 15%;
            margin-top: 10px;
        }

        p{
            margin-top: 20px;
            font-weight: 400;
            width: 80%;
            text-align: justify;
            font-size: 1.2em;
            color: white;
        }

    }

    .formside{
        box-shadow: 0px 0px 10px 10px #00000040;
        background-color: white;
        padding: 20px;
        .error{
            color: red;
            font-size: 14px;
            font-weight: 600;
        }

        .input_field{
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label{
                font-size: 14px;
                font-weight: 600;
                color: #000000;
            }

            input{
                border: none;
                margin-top: 5px;
                border-bottom: 1px solid #0000001A;
            }

            textarea{
                margin-top: 5px;
                border: 1px solid #0000001A;
            }

           
        }

        button {
            background-color: #004AAD;
            color: white;
            text-decoration: none;
            padding: 8px;
            margin-top: 20px;
            border: none;
            font-weight: 500;

            &:hover{
                background-color: #003b88;
            }
        }
    }
}

ul{
    padding-left: 50px; 
    line-height: 40px; 
    column-count: 2; 
    column-gap: 50px;
    li{

        font-weight: 500;
        &:hover{
            font-weight: 600;
        }
    }
}

@media (min-width: 280px) and (max-width: 767px) {

    p {
        font-size: 1em;
        width: 97%;
    }
    
    .whyuscont {
        h2 {
            font-size: 2em;
        }
    }
    
    .part4 {
      
        .quality_product_div2 {
            h4{
                margin-top: 20px;
                font-size: 1.2em;
                text-align: left;
                color: #ffffff;
            }
    
            .myunderline {
                border: 1px solid #ffffff;
                width: 15%;
                margin-top: 10px;
            }
    
            p{
                width: 97%;
                font-size: 1em;
            }
    
        }
    
        .formside{
            box-shadow: 0px 0px 10px 10px #00000040;
            background-color: white;
            padding: 20px;
            .error{
                color: red;
                font-size: 14px;
                font-weight: 600;
            }
    
            .input_field{
                padding: 0;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
    
                label{
                    font-size: 14px;
                    font-weight: 600;
                    color: #000000;
                }
    
                input{
                    border: none;
                    margin-top: 5px;
                    border-bottom: 1px solid #0000001A;
                }
    
                textarea{
                    margin-top: 5px;
                    border: 1px solid #0000001A;
                }
    
               
            }
    
            button {
                background-color: #004AAD;
                color: white;
                text-decoration: none;
                padding: 8px;
                margin-top: 20px;
                border: none;
                font-weight: 500;
    
                &:hover{
                    background-color: #003b88;
                }
            }
        }
    }
   

    ul{
        line-height: 30px !important; 
        column-count: 1 !important; 
        padding-left: 20px !important;
        li{
            font-size: 0.94em;
            &:hover{
                font-weight: 600;
            }
        }
    }
}

