<div class="container-fluid">
    <div class="row">
        <div class="col-12 header">
            <h2>Build your future with us</h2>
            <div class="underline"></div>
            <p>Shape your career and make a difference</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="display: flex; justify-content: center; padding: 30px;">
            <p>At RCS Engineering, we are more than just engineers and developers—we are innovators, problem solvers and
                dreamers. We believe in the power of technology to shape a better world, and we’re always looking for
                passionate individuals to join us on this journey.</p>
        </div>
        <div class="col-12 whyuscont">
            <h2>Why Work With Us?</h2>
            <div class="row whyus2 p-2">
                <!-- -------------- -->
                <div class="col-md-5 col-12 squarecontent">
                    <div class="corner-element"></div>
                    <h4>Work That Matters</h4>
                    <p class="mb-4 p-2">
                        We take on projects that are impactful, from scalable software solutions to cutting-edge
                        engineering innovations. You’ll work on real-world challenges that make a difference.
                    </p>
                </div>

                <!-- --------------- -->
                <div class="col-md-5 col-12 squarecontent">
                    <div class="corner-element"></div>
                    <h4>Collaborative Culture</h4>
                    <p class="mb-4 p-2">
                        We believe the best ideas come from collaboration. You’ll be part of a diverse and inclusive
                        environment where your voice matters.
                    </p>
                </div>

                <!-- --------------- -->
                <div class="col-md-5 col-12 squarecontent">
                    <div class="corner-element"></div>
                    <h4>Career Growth</h4>
                    <p class="mb-4 p-2">
                        We invest in your professional development with mentorship programs, training and clear pathway
                        for advancement.
                    </p>
                </div>

                <!-- --------------- -->
                <div class="col-md-5 col-12 squarecontent">
                    <div class="corner-element"></div>
                    <h4>Work-Life Balance</h4>
                    <p class="mb-4 p-2">
                        We believe in delivering excellence; without sacrificing your well-being. We promote a culture
                        that help you maintain a healthy balance.
                    </p>
                </div>

            </div>
        </div>

        <div class="col-12" style="display: flex; flex-direction: column; justify-content: center; padding: 30px;">
            <h2 style="text-align: center;">Join Our Team of Experts</h2>
            <p>Whether you’re early in your career or a seasoned expert, we’re looking for passionate professionals
                across key areas like:</p>
            <ul style="padding-left: 50px; line-height: 40px; column-count: 2; column-gap: 50px;">
                <li>Software Development (Frontend, Backend, Full Stack)</li>
                <li>Cloud & DevOps Engineering
                </li>
                <li>Quality Assurance & Testing</li>
                <li>UI/UX Design</li>
                <li>Project & Product Management</li>
                <li>Data Science & Machine Learning</li>
                <li>Embedded Systems & Hardware Engineering</li>
                <li>Mechanical Design Engineering</li>
                <li>Electrical Engineering</li>
            </ul>
        </div>

    </div>

    <div class="row part4">

        <div class="col-lg-6 quality_product_div2">

            <h4>Reach Us</h4>
            <div class="myunderline"></div>

            <p>
                Don’t miss out the opportunity to work with a team that is as committed to your success as you are.
                Reach out to us at <a href="mailto:careers@rcsengg.com"
                    style="color: #00ceff;">careers&#64;rcsengg.com</a> or fill the form.
            </p>


        </div>

        <div class="col-lg-6 p-md-5 p-3">
            <form [formGroup]="career_form" (ngSubmit)="onSubmit()">
                <div class="row formside">
                    <div class="col-12 colheading_part1">
                        <h4>Apply Now</h4>
                    </div>

                    <div class="input_field col-md-6">
                        <label for="firstName">First Name</label>
                        <input id="firstName" formControlName="firstName" placeholder="First Name" />
                        <div *ngIf="firstName?.invalid && firstName?.touched" class="error">
                            <small *ngIf="firstName?.errors?.['required']">First Name is required.</small>
                            <small *ngIf="firstName?.errors?.['minlength']">First Name must be at least 2 characters
                                long.</small>
                            <small *ngIf="firstName?.errors?.['maxlength']">First Name cannot exceed 30
                                characters.</small>
                        </div>
                    </div>

                    <div class="input_field col-md-6 px-md-2">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" formControlName="lastName" placeholder="Last Name" />
                        <div *ngIf="lastName?.invalid && lastName?.touched" class="error">
                            <small *ngIf="lastName?.errors?.['required']">Last Name is required.</small>
                            <small *ngIf="lastName?.errors?.['minlength']">Last Name must be at least 2 characters
                                long.</small>
                            <small *ngIf="lastName?.errors?.['maxlength']">Last Name cannot exceed 30
                                characters.</small>
                        </div>
                    </div>

                    <div class="input_field col-12">
                        <label for="email">Email</label>
                        <input id="email" formControlName="email" placeholder="Email" />
                        <div *ngIf="email?.invalid && email?.touched" class="error">
                            <small *ngIf="email?.errors?.['required']">Email is required.</small>
                            <small *ngIf="email?.errors?.['email']">Enter a valid email address.</small>
                        </div>
                    </div>

                    <div class="input_field col-12">
                        <label for="phone">Mobile Number</label>
                        <input id="phone" type="number" formControlName="phone" placeholder="Mobile Number" />
                        <div *ngIf="phone?.invalid && phone?.touched" class="error">
                            <small *ngIf="phone?.errors?.['required']">Phone Number is required.</small>
                            <small *ngIf="phone?.errors?.['pattern']">Enter a valid phone number.</small>
                        </div>
                    </div>

                    <div class="input_field col-12">
                        <label for="postion_role">Message:</label>
                        <input id="postion_role" formControlName="postion_role" placeholder="Area of Expertise, Key Skills etc." />
                        <div *ngIf="postion_role?.invalid && postion_role?.touched" class="error">
                            <small *ngIf="postion_role?.errors?.['required']">This field is required.</small>
                            <small *ngIf="postion_role?.errors?.['minlength']">Must have at least 3 characters
                                long.</small>
                            <small *ngIf="postion_role?.errors?.['maxlength']">Cannot exceed 30
                                characters.</small>
                        </div>
                    </div>

                    <!-- <div class="col-12 input_field">
                        <label for="resume">Resume:</label>
                        <input id="resume" type="file" required name="resume" (change)="onFileChange($event)" />
                        <div *ngIf="resume === null" class="error">
                            Resume is required.
                        </div>
                    </div> -->

                    <button type="submit" *ngIf="!Is_load">Submit</button>
                    <button *ngIf="Is_load">
                        <div class="spinner" style="color: white !important; " role="status"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>