* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    // background-image: url("../../../assets/Images/contact_banner.png");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(85, 84, 84, 0.233), rgba(255, 255, 255, 0)),url("../../../assets/Images/Contact Us Copy.jpg");
    .underline{
        width: 490px;
    }
}

.part4 {
    margin-top: 40px;
    border-top: 1px solid rgb(212, 212, 212);

    p {
        font-weight: 500;
        margin-top: 16px;
        font-size: 1.35em;
        text-align: center;
        color: #000000;
        width: 90%;
        text-align: justify;
        padding-bottom: 20px;
    }

    .quality_product_div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 700;

        p{
            font-weight: 400;
        margin-top: 16px;
        font-size: 1.35em;
        text-align: center;
        color: #000000;
        width: 90%;
        text-align: justify;
        padding-bottom: 20px;
        }

        button {
            background-color: #004AAD;
            color: white;
            text-decoration: none;
            padding: 8px;
            font-size: 1.3em;
            margin-top: 20px;
            border: none;
            font-weight: 500;
            // box-shadow: 0px 0px 10px 10px #00000040;
            &:hover{
                background-color: #003b88;
            }
        }

    }

    .formside{
        box-shadow: 0px 0px 10px 10px #00000040;
        padding: 20px;
        background-color: white;
        .error{
            color: red;
            font-size: 14px;
            font-weight: 600;
        }

        .input_field{
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label{
                font-size: 14px;
                font-weight: 600;
                color: #000000;
            }

            input{
                border: none;
                margin-top: 5px;
                border-bottom: 1px solid #0000001A;
            }

            textarea{
                margin-top: 5px;
                border: 1px solid #0000001A;
            }

           
        }

        button {
            background-color: #004AAD;
            color: white;
            text-decoration: none;
            padding: 8px;
            margin-top: 20px;
            border: none;
            font-weight: 500;

            &:hover{
                background-color: #003b88;
            }
        }
    }
}

/* CONTACT AND MAP */

.contactandmap{
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
        margin-top: 30px;
        font-weight: 400;
        font-size: 3em;
        line-height: 48px;
        color: #ffffff;
    }

    p {
        font-weight: 400;
        margin-top: 16px;
        font-size: 1.35em;
        text-align: center;
        color: #ffffff;
        width:100%;
        text-align: center;
        padding-bottom: 20px;
    }
} 


@media (min-width: 280px) and (max-width: 767px) {

    .header{
        .underline{
            width: 410px;
        }
    }
    
.part4 {

    p {
        font-size: 1em;
        width: 96%;
    }

    .quality_product_div2 {
        p{
        font-size: 1em;
        width: 97%;
        }

        button {
            font-size: 1em;
        }

    }
}

/* CONTACT AND MAP */

.contactandmap{
    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1em;
    }
} 


}