<div class="container-fluid">

    <div class="row">
        <div class="col-12 header">
            <h2>Industries We Serve</h2>
            <div class="underline"></div>
            <p>Domain Expertise to Drive Innovation</p>
        </div>
    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/Energy.webp" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Energy</h4>

            <p>
                Our team brings decades of expertise in both traditional and renewable energy sources, ensuring seamless
                solutions across the entire energy value chain from exploration to sustainable energy transition.
                <br> <br>
                Our multidisciplinary team of domain experts, mechanical engineers and software developers work
                seamlessly with customers to design, implement and monitor systems that enhance energy production while
                minimizing environmental impact.
            </p>
            <ul>
                <li><strong> Oil & Gas Lifecycle: </strong> Specialized skills across offshore and onshore exploration,
                    drilling operations and reservoir management.</li>
                <li><strong> Energy Transition: </strong> Expertise in renewable energy integration, sustainability and
                    net-zero strategies.</li>
                <li><strong> Regulatory Knowledge: </strong> Experience with industry-specific regulations and
                    compliance.</li>
                <li><strong> Technology & Innovation: </strong> Helps businesses optimize energy use by adopting new
                    technologies.</li>
            </ul>
        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Aerospace & Defense</h4>

            <p>
                We are committed to bring innovation in future of Aerospace and Defense Engineering with precision,
                reliability and excellence. With decades of combined experience, our team focus to advance aerospace and
                defense technology through cutting-edge engineering solutions. 
                <br> <br>
                Our goal is to provide superior,
                mission-critical systems that ensure safety, efficiency and sustainability.
                <br>
            </p>
            <ul>
                <li>Aircraft Design & Development</li>
                <li>Aerodynamics & Structural Engineering</li>
                <li>Maintenance, Repair and Overhaul (MRO)</li>
                <li>Avionics & Systems Integration</li>
            </ul>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/Aerospace.webp" alt="" srcset="">
        </div>

    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/Healthcare.webp" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Healthcare</h4>

            <p>
                We offer cutting-edge solutions for medical devices development, healthcare infrastructure and advanced
                healthcare technology integration.
                <br> <br>
                Our aim is to improve patient outcomes, streamline healthcare
                operations and ensure compliance with regulatory standards
                <br>
            </p>
            <ul>
                <li><strong> Healthcare IT Solutions: </strong> We develop secure healthcare applications, enabling
                    seamless data exchange between healthcare providers and enhancing patient experience.</li>
                <li><strong> Medical Device Design & Development: </strong> We provide expertise during all phases of
                    design and development of medical devices.</li>
                <li><strong> Regulatory Compliance & Certification: </strong> We support healthcare providers through
                    complex regulatory frameworks and ensure equipment and processes comply with industry standards.
                </li>
            </ul>
        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Automotive</h4>

            <p>
                We offer comprehensive automotive engineering services for a safer, smarter and sustainable future. With
                extensive experience, we’re dedicated to delivering high-quality engineering solutions that help
                automakers meet the demands of an evolving market.
                <br> <br>
                From traditional vehicle manufacturing to the future
                of electric and autonomous vehicles, we are at the forefront of automotive innovation.
                <br>
            </p>
            <ul>
                <li>Vehicle Design & Development</li>
                <li>Electric & Hybrid Powertrains</li>
                <li>Autonomous Vehicle Systems</li>
                <li>Manufacturing Process Optimization</li>
            </ul>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/Automotive.webp" alt="" srcset="">
        </div>

    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/Industrial.webp" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Industrial</h4>

            <p>
                We specialize in delivering cutting-edge engineering services to a variety of industries, optimizing
                processes, enhancing productivity, and improving sustainability. Our expert team is dedicated to solving
                complex engineering challenges with innovative and efficient solutions.
                <br>
                <br>
                Our team consists of highly skilled engineers with deep expertise in industrial processes, automation
                and systems optimization, providing tailored solutions that meet the unique needs of every client.
            </p>
            <ul>
                <li>Manufacturing Engineering</li>
                <li>Automation & Control Systems</li>
                <li>Process Engineering</li>
                <li>Industrial Systems Design</li>
                <li>Maintenance & Reliability Engineering</li>
                <li>Advanced Industrial Technologies</li>
            </ul>
        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Hi-Tech</h4>

            <p>
                We offer end-to-end engineering services across high-tech industries, from electronics and semiconductor
                design to robotics, IoT, and AI solutions, empowering your company to lead in innovation. we specialize
                in delivering world-class engineering solutions that push the boundaries of technology.
                <br>
                <br>
                From designing cutting-edge electronics to implementing advanced robotics, our mission is to enable
                companies to
                harness the power of innovation to drive success.

            </p>
            <ul>
                <li>IoT Solutions</li>
                <li>Robotics & Automation</li>
                <li>AI & Machine Learning Solutions</li>
                <li>Advanced Electronics Design</li>
            </ul>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/Hi-Tech.webp" alt="" srcset="">
        </div>

    </div>

    <div class="row sub_topics sub_topics_re">
        <div class="col-md-6 img">
            <img src="assets/Images/Retail.webp" alt="" srcset="">
        </div>
        <div class="col-md-6 content_part">
            <h4>Retail</h4>

            <p>
                From supply chain optimization to use of smart technologies, we provide engineering solutions that
                enhance operational efficiency, improve customer experiences, and drive profitability for our customers
                in retail sector.
                <br> <br>
                Our team of experts combines deep technical knowledge with an understanding of retail
                dynamics to provide services that address the unique needs of retail businesses.
            </p>
            <ul>
                <li>Retail automation</li>
                <li>Supply chain management</li>
                <li>E-commerce platform integration</li>
                <li>Customer experience optimization</li>
            </ul>
        </div>
    </div>

    <div class="row sub_topics">

        <div class="col-md-6 content_part">
            <h4>Consumer Goods</h4>

            <p>
                Our engineering expertise helps consumer goods companies streamline production processes, enhance
                product quality, and reduce costs, from concept to delivery. 
                <br> <br>
                Our engineers work closely with customers
                to design products that meet market demand, comply with regulatory standards and stand out in a
                competitive market.
            </p>
            <ul>
                <li>Manufacturing Process Optimization</li>
                <li>Packaging Engineering</li>
                <li>Automation & Robotics</li>
                <li>Quality Control and Testing</li>
                <li>Supply Chain Optimization</li>
            </ul>
        </div>

        <div class="col-md-6 img">
            <img src="assets/Images/Consumer_Goods.webp" alt="" srcset="">
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="letstalk">
                <div class="row">
                    <div class="col-md-12" style="display: flex; align-items: center; justify-content: space-around;">
                        <p>Have a project in mind? Schedule a free consultation today.</p>
                        <a (click)="route_to_page('contact')" class="ctnus">Let's Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>