@import url("../digital-engineering/digital-engineering.component.scss");


.header {
    background-image: url("../../../assets/Images/industries.png");
    align-items: center;
    h1 {
        font-size: 2.5em;   
        font-weight: 600;
    }

}