@import url("../digital-engineering/digital-engineering.component.scss");


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../assets/Images/Industry_Page_Top_Final.webp");

    .underline{
        width: 25%;
    }
}

.sub_topics {
    padding: 30px 30px;

    .img {
        padding: 10px;

        img {
            width: 100%;
            height: 450px;
            filter: drop-shadow(2px 2px 2px black);
        }
    }

    .content_part {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;

        // .underline {
        //     width: 45%;
        //     border-bottom: 4px solid #004AAD;
        // }

        h4 {
            text-align: center;
            // border-bottom: 4px solid #004AAD;
            color: #004AAD;
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 1.3em;
        }

        p {
            border-top: 4px solid #004AAD;
            // padding-left: 10px;
            padding-top: 20px;
            font-size: 1em;
            font-weight: 500;
            text-align: justify;
            width: 99%;
        }

        ul {
            padding-top: 3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;

            li {
                padding: 6px 0pc;
                list-style: disc;
                font-size: 1em;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
}