* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../../../assets/Images/AboutUs.webp");

    .underline{
        width: 380px;
    }
}

/* Our Story */
.about_row {
    background: url("../../../assets/Images/page_home.png");
}

.ourstry {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    h3 {
        text-align: center;
        font-weight: 600;
        font-size: 2.2em;
        color: #003b88;
    }

    p {
        margin-top: 20px;
        font-weight: 500;
        line-height: 26px;
        font-size: 1.2em;
        letter-spacing: 0px;
        text-align: justify;
        width: 90%;
    }

}

.ourvision {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    h3 {
        text-align: center;
        font-weight: 500;
        font-size: 2.2em;
    }

    p {
        margin-top: 20px;
        font-weight: 400;
        line-height: 26px;
        font-size: 1.2em;
        letter-spacing: 0px;
        text-align: justify;
        width: 90%;
    }

}

/* whyus */


.whyuscont {
    padding: 60px 0;
    background: url("../../../assets/Images/page_home.png");
    h2 {
        
        text-align: center;
        font-weight: 600;
        font-size: 2.2em;
        color: #ffffff;
    }
}

.whyus2 {
    justify-content: space-around;
    padding: 10px 0;
    .squarecontent {
        margin-top: 20px;
        position: relative;
        background: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        h4 {
            text-align: center;
            border-bottom: 1px solid;
            padding-top: 0.3em;
            font-weight: 500;
            font-size: 1.3em;
            line-height: 34px;
            color: #0d376f;
        }

        p {
            font-weight: 600;
            margin-top: 16px;
            font-size: 0.75em;
            text-align: justify;
            color: #000000;
        }
    }

    // .corner-element {
    //     border-radius: 3px;
    //     width: 62px;
    //     height: 62px;
    //     background: #000000;
    //     position: absolute;
    //     top: -25px;
    //     left: -25px;
    //     z-index: 1;
    // }
}



@media (max-width: 768px) {

    .header {

        h2 {
            width: 90%;
        }
    }

    .ourstry {
        padding: 60px 20px;

        h2 {
            font-size: 2.6em;
        }

        h3 {
            font-size: 1.6em;
        }

        p {
            font-weight: 600;
            font-size: 0.75em;
            width: 90%;
        }

    }

    .ourvision {
        padding: 60px 20px;

        h3 {
            font-size: 1.6em;
        }

        p {
            font-weight: 600;
            font-size: 0.75em;
            width: 90%;
        }

    }
}