<nav class="navbar navbar-expand-lg" [ngClass]="{'fixed': isScrolled}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Carousel/rcs logo final.svg" alt="" srcset="">
    </a>

    <i class="bi bi-list smallmenuicon" (click)="toggleNav()"></i>
    <ul class="navbar-nav big_menu">
      <li>
        <a (click)="route_to_page('home')">Home</a>
      </li>
      <li>
        <a (click)="route_to_page('about-us')">About Us</a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle">Our Services</a>
        <ul class="dropdown-menu">
          <li class="submenu">
            <a (click)="route_to_page('digital-engineering')">Digital Engineering <i class="bi bi-caret-right-fill"></i></a>
            <ul class="submenu-items">
              <!-- <h6>Digital Engineering <i class="bi bi-caret-down-fill"></i></h6> -->
              <li><a (click)="route_to_page('digital-engineering')">Data Engineering </a></li>
              <li><a (click)="route_to_page('digital-engineering')">Machine Learning & AI </a></li>
              <li><a (click)="route_to_page('digital-engineering')">Cloud Services </a></li>
              <li><a (click)="route_to_page('digital-engineering')">Augmented Reality </a></li>
            </ul>
          </li>
          <li class="submenu">
            <a (click)="route_to_page('software-engineering')">Software Engineering <i class="bi bi-caret-right-fill"></i></a>
            <ul class="submenu-items">
              <!-- <h6>Software Engineering <i class="bi bi-caret-down-fill"></i></h6> -->
              <li><a (click)="route_to_page('software-engineering')">Custom Software Development</a></li>
              <li><a (click)="route_to_page('software-engineering')">Software Architecture & Design</a></li>
              <li><a (click)="route_to_page('software-engineering')">Legacy System Modernization</a></li>
              <li><a (click)="route_to_page('software-engineering')">Software Maintenance & Support</a></li>
              <li><a (click)="route_to_page('software-engineering')">Software Maintenance & Support</a></li>
              <li><a (click)="route_to_page('software-engineering')">Cloud Application Development</a></li>
              <li><a (click)="route_to_page('software-engineering')">DevOps & Continuous Integration(CI/CD)</a></li>
              <li><a (click)="route_to_page('software-engineering')">Software Quality Assurance & Testing</a></li>
              <li><a (click)="route_to_page('software-engineering')">UX & UI Design</a></li>
            </ul>
          </li>
          <li class="submenu">
            <a (click)="route_to_page('product-engineering')">Product Engineering <i class="bi bi-caret-right-fill"></i></a>
            <ul class="submenu-items">
              <!-- <h6>Product Engineering <i class="bi bi-caret-down-fill"></i></h6> -->
              <li><a (click)="route_to_page('product-engineering')">Mechanical Engineering</a></li>
              <li><a (click)="route_to_page('product-engineering')">Embedded Engineering</a></li>
              <li><a (click)="route_to_page('product-engineering')">Manufacturing Engineering</a></li>
              <li><a (click)="route_to_page('product-engineering')">Technical Publication</a></li>
            </ul>
          </li>
          <li class="submenu">
            <a (click)="route_to_page('consulting')">Consulting</a>
          </li>

        </ul>
      </li>

      <li>
        <a (click)="route_to_page('industries')">Industries</a>
      </li>
      <li>
        <a (click)="route_to_page('career')">Career</a>
      </li>
      <li>
        <a class="contact_us" (click)="route_to_page('contact')">
          <i class="bi bi-headset"></i>
          Contact Us</a>
      </li>
    </ul>
  </div>

  @if(show_small_menu){
  <ul class="navbar-nav small_menu">
    <li>
      <a (click)="route_to_page('home')">Home</a>
    </li>
    <li>
      <a (click)="route_to_page('about-us')">About Us</a>
    </li>
    <li>
      <a (click)="route_to_page('newarrivals')">Our Services</a>
    </li>

    <li>
      <a (click)="route_to_page('industries')">Industries</a>
    </li>
    <li>
      <a (click)="route_to_page('career')">Career</a>
    </li>
    <li>
      <a class="contact_us" (click)="route_to_page('contact')">
        <i class="bi bi-headset"></i>
        Contact Us</a>
    </li>
  </ul>
  }

</nav>

<router-outlet />

<div class="container-fluid footer_scss footcont">
  <div class="row">
    <div class="col-12">
      <img src="assets/Carousel/rcs logo final.svg" class="log_img" alt="" srcset="">
    </div>
    <div class="col-lg-4 about_rcs mt-3">
      <div class="newletterfoot">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Doloremque quasi, laudantium, eum dolor praesentium molestias necessitatibus inventore neque ratione
          odit libero id magni eligendi velit.</p>
      </div>

    </div>


    <div class="col-lg-1 col-6 mt-3">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <span class="categoryfoot1"> Quick Links</span>
          </li>

          <li>
            <a>Home</a>
          </li>
          <li>
            <a (click)="route_to_page('about-us')">About Us</a>
          </li>
          <li>
            <a (click)="route_to_page('career')">Career</a>
          </li>
          <li>
            <a (click)="route_to_page('contact')">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-2 col-6 mt-3 px-lg-4">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <span class="categoryfoot1">Our Services</span>
          </li>

          <li>
            <a (click)="route_to_page('digital-engineering')">Digital Engineering</a>
          </li>
          <li>
            <a (click)="route_to_page('software-engineering')">Software Engineering</a>
          </li>
          <li>
            <a (click)="route_to_page('product-engineering')">Product Engineering</a>
          </li>
          <li>
            <a (click)="route_to_page('consulting')">Consulting</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-2 col-6 mt-3">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <span class="categoryfoot1">Industries</span>
          </li>

          <li>
            <a (click)="route_to_page('industries')">Energy</a>
          </li>
          <li>
            <a (click)="route_to_page('industries')">Aerospace & Defense</a>
          </li>
          <li>
            <a (click)="route_to_page('industries')">Automotive</a>
          </li>
          <li>
            <a (click)="route_to_page('industries')" style="text-decoration: underline;">View All</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 mt-3">

      <div class="addressfoot">

        <p class="contactfoot">Contact Details</p>

        <p class="addressfoot1">
          <span><img src="assets/Footer/address.png" alt="Address" srcset=""></span>
          Bangalore | Delhi | Houston
        </p>

        <p class="addressfoot1 mt-2">
          <span><img src="assets/Footer/mail.png" alt="Mail" srcset=""></span>
          <a href="mailto:info@rcsengg.com">{{'info@rcsengg.com'}}
          </a>
        </p>
      </div>

      <div class="all_icon mt-3">
        <h5>Follow Us</h5>
      </div>
      <div class="all_icon mt-2">

        <a><img src="assets/Footer/facebook.png" alt="facebook"></a>
        <a><img src="assets/Footer/instagram.png" alt="instagram"></a>
        <a><img src="assets/Footer/linkedin.png" alt="linkedin"></a>
        <a><img src="assets/Footer/youtube.png" alt="youtube"></a>
        <a><img src="assets/Footer/x.com.png" alt="twitter"></a>

      </div>
    </div>
    <div class="col-12 mt-5 copy_right">
      <span>COPYRIGHT &copy; 2024 RCS ENGINEERING SERVICES PVT LTD | All Right Reserved</span>
    </div>
  </div>
</div>